.body {
     font-family: 'Open Sans', sans-serif  !important;
}

.hidden.menu {
    display: none;
}

/*      font-family: 'Permanent Marker', cursive;*/

/*      font-family: 'Open Sans', sans-serif;*/

h1.ui.header {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Open Sans', sans-serif 
}

.vertical-spacer{
    width: 100%;
    display: block;
    padding-top: 2em;
}


